:root {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  color: #213547;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Diğer stilleri kaldırabilirsiniz veya şimdilik yorum satırına alabilirsiniz */
